<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mc2techservices.fpfriendsfor500mb"
          android:versionCode="7"
          android:versionName="2017.10.15">
    >
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".fpfriendsfor500mb"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:noHistory="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".WatchRewardedAd">
        </activity>
        <activity android:name=".WhatIsFPF500">
        </activity>
        <activity android:name=".WhatsTheCatch">
        </activity>
        <activity android:name=".SubmitEmailForFriends">
        </activity>
        <activity android:name=".InAppPurchase">
        </activity>
        <activity android:name=".Confirmation">
        </activity>
        <activity android:name=".ContactUs">
        </activity>
        <activity android:name=".HowAdsWork">
        </activity>
    </application>

</manifest>